# Project

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import openpyxl
pd.set_option('display.max_columns', None)

### Importing Datasets

In [2]:
# Note: This file was made in Excel after searching through the web for average housing prices in France by city.
# Websites used include investropa.com, statista.com, and numbeo.com.
# The data was then compiled into an Excel file for analysis.

df_avg_price = pd.read_excel("/Users/abeer/Desktop/Airbnb/Project_Airbnb_France_Avghousing.xlsx", engine="openpyxl")

In [3]:
# Importing Airbnb Paris Datasets

df_Paris_Listings = pd.read_csv("/Users/abeer/Desktop/Airbnb/Paris_Listings.csv")
df_Paris_Hisorical = pd.read_csv("/Users/abeer/Desktop/Airbnb/Paris_Historical.csv")

In [4]:
# Importing Airbnb Lyon Datasets

df_Lyon_Listings = pd.read_csv("/Users/abeer/Desktop/Airbnb/Lyon_Listings.csv")
df_Lyon_Historical = pd.read_csv("/Users/abeer/Desktop/Airbnb/Lyon_Historical.csv")

In [5]:
# Importing Airbnb Nice Datasets

df_Nice_Listings = pd.read_csv("/Users/abeer/Desktop/Airbnb/Nice_Listings.csv")
df_Nice_Historical = pd.read_csv("/Users/abeer/Desktop/Airbnb/Nice_Historical.csv")

In [6]:
# Importing Airbnb Bordeaux Datasets

df_Bordeaux_Listings = pd.read_csv("/Users/abeer/Desktop/Airbnb/Bordeaux_Listings.csv")
df_Bordeaux_Historical = pd.read_csv("/Users/abeer/Desktop/Airbnb/Bordeaux_Historical.csv")

In [7]:
# Importing Airbnb Cannes Datasets

df_Cannes_Listings = pd.read_csv("/Users/abeer/Desktop/Airbnb/Cannes_Listings.csv")
df_Cannes_Historical = pd.read_csv("/Users/abeer/Desktop/Airbnb/Cannes_Historical.csv")

In [8]:
# Importing Airbnb Antibes Datasets

df_Antibes_Listings = pd.read_csv("/Users/abeer/Desktop/Airbnb/Antibes_Listings_Clean.csv")
df_Antibes_Historical = pd.read_csv("/Users/abeer/Desktop/Airbnb/Antibes_Historical.csv")

In [9]:
# Importing Marseille Datasets

df_Marseille_Listings = pd.read_csv("/Users/abeer/Desktop/Airbnb/Marseille_Listings_Clean.csv")
df_Marseille_Historical = pd.read_csv("/Users/abeer/Desktop/Airbnb/Marseille_Historical.csv")

### Getting to know the data

In [10]:
df_avg_price.head()

        City  Appartments € / m^2  Houses € / m^2
0      Paris                 9718           10151
1       Nice                 6220            5331
2       Lyon                 6040            4577
3  Marseille                 5193            3900
4   Bordeaux                 4955            3800

In [11]:
df_Paris_Listings.head()
df_Lyon_Listings.head()
df_Nice_Listings.head()
df_Bordeaux_Listings.head()
df_Cannes_Listings.head()
df_Antibes_Listings.head()
df_Marseille_Listings.head()

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,rating_accuracy,rating_checkin,rating_cleanliness,rating_communication,rating_location,rating_value,ttm_revenue,ttm_revenue_native,ttm_avg_rate,ttm_avg_rate_native,ttm_occupancy,ttm_adjusted_occupancy,ttm_revpar,ttm_revpar_native,ttm_adjusted_revpar,ttm_adjusted_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days,l90d_revenue,l90d_revenue_native,l90d_avg_rate,l90d_avg_rate_native,l90d_occupancy,l90d_adjusted_occupancy,l90d_revpar,l90d_revpar_native,l90d_adjusted_revpar,l90d_adjusted_revpar_native,l90d_reserved_days,l90d_blocked_days,l90d_available_days,l90d_total_days,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,59611,Private suite in apartment facing the Calanques,Private room in condo,private_room,https://a0.muscache.com/im/pictures/miso/Hosti...,80,218930,Robert & Marie,NaN,NaN,TRUE,43.2368,5.4070,NaN,2.0,2.0,0.0,FALSE,"High chair,TV,Baby safety gates,Cable TV,Child...",TRUE,False,2,Flexible,EUR,0.0,0,539,4.90,4.9,4.9,4.9,4.9,4.6,4.9,14648.0,13151.0,75.9,69.0,0.526,0.736,40.1,36.0,56.1,50.4,192.0,104.0,173.0,365,3893,3431,82.0,72.2,0.522,0.839,43.3,38.1,69.5,61.3,47.0,34,43,90,NaN,NaN,NaN
1,60906,Charming studio with sea view,Private room in guesthouse,private_room,https://a0.muscache.com/im/pictures/781282/d42...,25,293258,Brigitte,NaN,NaN,TRUE,43.2749,5.3652,2,1.0,1.0,1.0,FALSE,"TV,Wifi,Air conditioning,Hot water,Bed linens,...",FALSE,False,3,Firm,EUR,58.0,0,360,4.87,4.9,4.9,5.0,4.9,4.8,4.8,17383.0,15565.0,107.3,97.6,0.444,0.492,47.6,42.6,52.8,47.3,162.0,36.0,203.0,365,2528,2227,124.9,110.2,0.211,0.339,28.1,24.7,45.1,39.8,19.0,34,71,90,NaN,NaN,NaN
2,72715,AGACHADOU furnished studio 25 m2,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/ec2e1b3d-a...,50,377731,Dominique,NaN,NaN,FALSE,43.2892,5.3621,3,1.0,2.0,1.0,FALSE,"TV,Wifi,Kitchen,Pack ’n play/Travel crib,Room-...",FALSE,NaN,4,Firm,EUR,45.0,0,8,5.00,5.0,5.0,4.2,5.0,4.9,4.8,1261.0,1127.0,86.1,78.5,0.038,0.057,3.5,3.1,5.1,4.6,14.0,119.0,351.0,365,986,867,84.4,74.5,0.122,0.124,11.0,9.6,11.1,9.7,11.0,1,79,90,NaN,NaN,NaN
3,73914,"Small quiet house in the garden of the owners,",Entire townhouse,entire_home,https://a0.muscache.com/im/pictures/487539/83b...,19,387184,Elsie,NaN,NaN,FALSE,43.2722,5.3647,2,1.0,1.0,1.0,FALSE,"TV,Wifi,Air conditioning,Kitchen,Pack ’n play/...",FALSE,NaN,6,Firm,EUR,45.0,0,14,4.86,4.9,4.9,4.8,4.9,4.7,4.8,3915.0,3486.0,117.7,107.3,0.090,0.136,10.7,9.6,16.1,14.3,33.0,122.0,332.0,365,0,0,114.6,100.8,0.000,0.000,0.0,0.0,0.0,0.0,0.0,28,90,90,NaN,NaN,NaN
4,92347,Verduron Hill,Entire villa,entire_home,https://a0.muscache.com/im/pictures/633657/35d...,26,497095,Eric,394360218,Isabelle,FALSE,43.3723,5.3409,5,3.0,3.0,1.5,FALSE,"TV,Wifi,Kitchen,Free parking on premises,Hot w...",FALSE,NaN,6,Moderate,EUR,87.0,0,11,4.45,4.5,5.0,3.5,4.9,4.0,4.4,2534.0,2232.0,141.5,128.9,0.049,0.098,6.9,6.1,13.8,12.1,18.0,181.0,347.0,365,0,0,139.1,122.4,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0,90,90,NaN,NaN,NaN

In [12]:
df_Paris_Hisorical.head()
df_Lyon_Historical.head()
df_Nice_Historical.head()
df_Bordeaux_Historical.head()
df_Cannes_Historical.head()
df_Antibes_Historical.head()
df_Marseille_Historical.head()

,listing_id,date,vacant_days,reserved_days,occupancy,revenue,rate_avg,booked_rate_avg,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue
0,3412901,2024-12-01,31,0,0.0,0.0,108.5,NaN,NaN,NaN,NaN,NaN,103.0,0.0
1,3412901,2025-01-01,31,0,0.0,0.0,105.6,NaN,NaN,NaN,3.0,NaN,102.0,0.0
2,3412901,2025-02-01,28,0,0.0,0.0,107.4,NaN,NaN,NaN,3.0,NaN,104.0,0.0
3,3412901,2025-03-01,31,0,0.0,0.0,105.5,NaN,NaN,NaN,3.0,NaN,102.0,0.0
4,3412901,2025-04-01,24,6,0.2,677.0,106.3,112.8,37.0,6.0,3.0,104.0,98.0,627.0

In [13]:
df_Paris_Listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 62 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   listing_id                   300 non-null    int64
 1   listing_name                 300 non-null    object
 2   listing_type                 300 non-null    object
 3   room_type                    300 non-null    object
 4   cover_photo_url              300 non-null    object
 5   photos_count                 300 non-null    int64
 6   host_id                      300 non-null    int64
 7   host_name                    300 non-null    object
 8   cohost_ids                   26 non-null     float64
 9   cohost_names                 26 non-null     object
 10  superhost                    300 non-null    bool
 11  latitude                     300 non-null    float64
 12  longitude                    300 non-null    float64
 13  guests                       273 non-null    float64
 14  bedrooms                     250 non-null    float64
 15  beds                         296 non-null    float64
 16  baths                        300 non-null    float64
 17  registration                 300 non-null    bool
 18  amenities                    300 non-null    object
 19  instant_book                 218 non-null    object
 20  professional_management      224 non-null    object
 21  min_nights                   294 non-null    float64
 22  cancellation_policy          300 non-null    object
 23  currency                     300 non-null    object
 24  cleaning_fee                 271 non-null    float64
 25  extra_guest_fee              262 non-null    float64
 26  num_reviews                  300 non-null    int64
 27  rating_overall               298 non-null    float64
 28  rating_accuracy              298 non-null    float64
 29  rating_checkin               298 non-null    float64
 30  rating_cleanliness           298 non-null    float64
 31  rating_communication         298 non-null    float64
 32  rating_location              298 non-null    float64
 33  rating_value                 298 non-null    float64
 34  ttm_revenue                  300 non-null    float64
 35  ttm_revenue_native           300 non-null    float64
 36  ttm_avg_rate                 300 non-null    float64
 37  ttm_avg_rate_native          300 non-null    float64
 38  ttm_occupancy                300 non-null    float64
 39  ttm_adjusted_occupancy       300 non-null    float64
 40  ttm_revpar                   300 non-null    float64
 41  ttm_revpar_native            300 non-null    float64
 42  ttm_adjusted_revpar          300 non-null    float64
 43  ttm_adjusted_revpar_native   300 non-null    float64
 44  ttm_reserved_days            300 non-null    int64
 45  ttm_blocked_days             300 non-null    int64
 46  ttm_available_days           300 non-null    int64
 47  ttm_total_days               300 non-null    int64
 48  l90d_revenue                 300 non-null    float64
 49  l90d_revenue_native          300 non-null    float64
 50  l90d_avg_rate                300 non-null    float64
 51  l90d_avg_rate_native         300 non-null    float64
 52  l90d_occupancy               300 non-null    float64
 53  l90d_adjusted_occupancy      300 non-null    float64
 54  l90d_revpar                  300 non-null    float64
 55  l90d_revpar_native           300 non-null    float64
 56  l90d_adjusted_revpar         300 non-null    float64
 57  l90d_adjusted_revpar_native  300 non-null    float64
 58  l90d_reserved_days           300 non-null    int64
 59  l90d_blocked_days            300 non-null    int64
 60  l90d_available_days          300 non-null    int64
 61  l90d_total_days              300 non-null    int64
dtypes: bool(2), float64(37), int64(12), object(11)
memory usage: 141.3+ KB

In [14]:
df_Paris_Listings.head()

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,rating_accuracy,rating_checkin,rating_cleanliness,rating_communication,rating_location,rating_value,ttm_revenue,ttm_revenue_native,ttm_avg_rate,ttm_avg_rate_native,ttm_occupancy,ttm_adjusted_occupancy,ttm_revpar,ttm_revpar_native,ttm_adjusted_revpar,ttm_adjusted_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days,l90d_revenue,l90d_revenue_native,l90d_avg_rate,l90d_avg_rate_native,l90d_occupancy,l90d_adjusted_occupancy,l90d_revpar,l90d_revpar_native,l90d_adjusted_revpar,l90d_adjusted_revpar_native,l90d_reserved_days,l90d_blocked_days,l90d_available_days,l90d_total_days
0,3109,zen and calm,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,7,3631,Anne,NaN,NaN,False,48.8319,2.3187,2.0,1.0,1.0,1.0,False,"Washer,Children’s books and toys,Smoke alarm,W...",False,NaN,2.0,Flexible,EUR,68.0,0.0,7,5.00,5.0,5.0,5.0,5.0,5.0,5.0,1965.0,1789.0,126.8,115.6,0.041,0.000,5.4,4.9,0.0,0.0,15,0,350,365,0.0,0.0,124.3,109.5,0.000,0.000,0.0,0.0,0.0,0.0,0,0,90,90
1,5396,Your perfect Paris studio on Île Saint-Louis,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/52413/f9bf...,15,7903,Borzou,2130918.0,Guillaume,False,48.8524,2.3569,2.0,NaN,1.0,1.0,False,"TV,Cable TV,Wifi,Kitchen,Hot water kettle,Book...",False,NaN,2.0,Strict,EUR,47.0,17.0,460,4.62,4.6,4.8,4.6,4.8,5.0,4.6,28634.0,26294.0,137.7,125.0,0.600,0.697,78.4,72.0,91.2,83.7,219,51,146,365,346.0,305.0,159.4,140.5,0.022,0.039,3.8,3.4,6.8,6.0,2,39,88,90
2,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/67928287/3...,29,2626,Franck,NaN,NaN,True,48.8591,2.3532,4.0,2.0,1.0,1.0,True,"Hair dryer,Shampoo,Hot water,Washer,Dryer,Esse...",NaN,False,10.0,Moderate,EUR,58.0,0.0,388,4.73,4.8,4.9,4.5,4.9,4.9,4.7,36904.0,33616.0,169.1,154.0,0.611,0.619,101.1,92.1,102.5,93.4,223,5,142,365,7022.0,6186.0,190.4,167.8,0.433,0.459,78.0,68.7,82.6,72.8,39,5,51,90
3,9952,Paris small cozy area,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/ae822d16-7...,15,33534,Elisabeth,NaN,NaN,False,48.8637,2.3709,2.0,1.0,1.0,1.0,True,"TV,Wifi,Kitchen,Room-darkening shades,Paid par...",NaN,NaN,4.0,Firm,EUR,44.0,0.0,52,4.92,5.0,5.0,4.9,4.9,4.9,4.9,13205.0,12155.0,143.5,130.9,0.233,0.867,36.2,33.3,134.7,124.0,85,267,280,365,0.0,0.0,130.8,115.4,0.000,0.000,0.0,0.0,0.0,0.0,0,84,90,90
4,11265,Elegant appartment in Montmartre,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,22,41718,Sylvie,NaN,NaN,True,48.8849,2.3400,2.0,1.0,1.0,1.0,True,"Hair dryer,Hot water,Washer,Dryer,Essentials,H...",NaN,False,7.0,Firm,EUR,93.0,0.0,43,4.91,4.9,4.8,5.0,4.9,5.0,4.9,23093.0,20463.0,164.4,149.6,0.381,0.706,63.3,56.1,117.2,103.9,139,168,226,365,9598.0,8455.0,176.1,155.1,0.600,0.931,106.6,93.9,165.5,145.8,54,32,36,90

### Getting rid of unmwanted / unuseful columns

In [15]:
def remove_specific_airbnb_columns(df):
 
    individual_indices = [34, 36, 39, 40, 42, 43]
    
    range_1 = list(range(28, 34))  # Covers 28, 29, 30, 31, 32, 33
    range_2 = list(range(48, 62))  # Covers 48 through 61
    
    indices_to_drop = individual_indices + range_1 + range_2
    
    valid_indices = [i for i in indices_to_drop if i < len(df.columns)]
    
    cols_to_drop = df.columns[valid_indices]
    
    return df.drop(columns=cols_to_drop)

In [16]:
df_Paris_Listings = remove_specific_airbnb_columns(df_Paris_Listings)
df_Lyon_Listings = remove_specific_airbnb_columns(df_Lyon_Listings)
df_Nice_Listings = remove_specific_airbnb_columns(df_Nice_Listings)
df_Bordeaux_Listings = remove_specific_airbnb_columns(df_Bordeaux_Listings)
df_Cannes_Listings = remove_specific_airbnb_columns(df_Cannes_Listings)
df_Antibes_Listings = remove_specific_airbnb_columns(df_Antibes_Listings)
df_Marseille_Listings = remove_specific_airbnb_columns(df_Marseille_Listings)

In [17]:
df_Bordeaux_Listings.head()

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,ttm_revenue_native,ttm_avg_rate_native,ttm_occupancy,ttm_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days
0,222887,"Spectacular view, full air-con, elevator",Entire vacation home,entire_home,https://a0.muscache.com/im/pictures/8f2b210e-3...,33,1156398,Suzanna,NaN,NaN,True,44.8361,-0.5664,4.0,2.0,3.0,1.0,True,"Wifi,Hair dryer,Cleaning products,Shampoo,Cond...",NaN,False,3.0,Moderate,EUR,116.0,0.0,140,4.84,63423.0,237.1,0.721,173.8,263,0,102,365
1,317273,"Luxury, spacious, patio, near public gardens",Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,22,1156398,Suzanna,NaN,NaN,True,44.8478,-0.5810,3.0,1.0,2.0,1.5,True,"Air conditioning,Hair dryer,Cleaning products,...",NaN,False,3.0,Moderate,EUR,116.0,0.0,92,4.89,51087.0,216.1,0.627,140.0,229,0,136,365
2,317658,"Key to Bordeaux · fairytale view, 2 bd + elevator",Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/a5da668b-3...,30,1156398,Suzanna,NaN,NaN,True,44.8388,-0.5689,6.0,2.0,4.0,1.0,True,"TV,Cable TV,Wifi,Kitchen,Hot water kettle,Paid...",True,False,3.0,Moderate,EUR,139.0,0.0,165,4.87,65858.0,268.6,0.658,180.4,240,0,125,365
3,333031,BORDEAUX TRIANGLE D OR STUDIO ***** Air-condit...,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/3643e626-d...,23,1697156,Antony,NaN,NaN,True,44.8426,-0.5779,2.0,NaN,1.0,1.0,True,"TV,Cable TV,Wifi,Air conditioning,Kitchen,Paid...",False,False,1.0,Firm,EUR,17.0,0.0,594,4.93,10621.0,103.7,0.266,29.1,97,25,268,365
4,438600,Om Sweet Home B&B chambre Single,Private room in rental unit,private_room,https://a0.muscache.com/im/pictures/6249633/79...,14,2171100,Christophe,NaN,NaN,True,44.8545,-0.5820,NaN,NaN,1.0,0.0,False,"Hair dryer,Shampoo,Hot water,Shower gel,Washer...",NaN,False,2.0,Firm,EUR,0.0,0.0,438,4.88,8144.0,33.7,0.666,22.3,243,46,122,365

### Defining the listings columns of the cities


ttm_revenue_native - Total gross earnings in Euro (€) over the last 12 months.

ttm_avg_rate_native - Average Daily Rate (ADR) in Euro (€) charged per booked night.

ttm_occupancy - Percentage of available nights that were actually booked (Reserved÷Available).

ttm_revpar_native - Revenue Per Available Room in Euro (€); measures overall financial health.

ttm_reserved_days - Total number of nights guests stayed in the property.

ttm_blocked_days - Nights the host made unavailable (personal use, repairs, or maintenance).

ttm_available_days - Nights the property was listed and open for guests to book.

ttm_total_days - Sum of all days in the period (usually 365 days).

In [18]:
df_Paris_Hisorical.head()

,listing_id,date,vacant_days,reserved_days,occupancy,revenue,rate_avg,booked_rate_avg,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue
0,534266,2024-12-01,4,27,0.871,6632.0,245.5,245.6,36.0,5.0,3.0,233.0,233.0,6290.0
1,534266,2025-01-01,18,13,0.419,3324.0,251.8,255.7,8.0,3.0,4.0,247.0,243.0,3211.0
2,534266,2025-02-01,16,12,0.429,2587.0,221.4,215.6,7.0,6.0,5.0,208.0,214.0,2497.0
3,534266,2025-03-01,31,0,0.000,0.0,221.9,NaN,NaN,NaN,5.0,NaN,214.0,0.0
4,534266,2025-04-01,30,0,0.000,0.0,226.2,NaN,NaN,NaN,5.0,NaN,210.0,0.0

### Getting rid of unwanted / unusefull columns in historical datasets

In [19]:
def clean_airbnb_historical(dff):
    indices = [5,6,7]
    cols_to_drop = [dff.columns[i] for i in indices if i < len(dff.columns)]
    return dff.drop(columns=cols_to_drop)

In [20]:
df_Paris_Hisorical = clean_airbnb_historical(df_Paris_Hisorical)
df_Lyon_Historical = clean_airbnb_historical(df_Lyon_Historical)
df_Nice_Historical = clean_airbnb_historical(df_Nice_Historical)
df_Bordeaux_Historical = clean_airbnb_historical(df_Bordeaux_Historical)
df_Cannes_Historical = clean_airbnb_historical(df_Cannes_Historical)
df_Antibes_Historical = clean_airbnb_historical(df_Antibes_Historical)
df_Marseille_Historical = clean_airbnb_historical(df_Marseille_Historical)

In [21]:
df_Paris_Hisorical

,listing_id,date,vacant_days,reserved_days,occupancy,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue
0,534266,2024-12-01,4,27,0.871,36.0,5.0,3.0,233.0,233.0,6290.0
1,534266,2025-01-01,18,13,0.419,8.0,3.0,4.0,247.0,243.0,3211.0
2,534266,2025-02-01,16,12,0.429,7.0,6.0,5.0,208.0,214.0,2497.0
3,534266,2025-03-01,31,0,0.000,NaN,NaN,5.0,NaN,214.0,0.0
4,534266,2025-04-01,30,0,0.000,NaN,NaN,5.0,NaN,210.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3493,461860,2025-07-01,9,22,0.710,102.0,2.0,2.0,120.0,119.0,2638.0
3494,461860,2025-08-01,8,23,0.742,108.0,5.0,3.0,117.0,117.0,2679.0
3495,461860,2025-09-01,3,27,0.900,87.0,3.0,3.0,122.0,122.0,3290.0
3496,461860,2025-10-01,5,26,0.839,92.0,3.0,3.0,122.0,122.0,3186.0
3497,461860,2025-11-01,9,21,0.700,63.0,7.0,3.0,125.0,124.0,2620.0

In [22]:
df_Bordeaux_Listings.columns

Index(['listing_id', 'listing_name', 'listing_type', 'room_type',
       'cover_photo_url', 'photos_count', 'host_id', 'host_name', 'cohost_ids',
       'cohost_names', 'superhost', 'latitude', 'longitude', 'guests',
       'bedrooms', 'beds', 'baths', 'registration', 'amenities',
       'instant_book', 'professional_management', 'min_nights',
       'cancellation_policy', 'currency', 'cleaning_fee', 'extra_guest_fee',
       'num_reviews', 'rating_overall', 'ttm_revenue_native',
       'ttm_avg_rate_native', 'ttm_occupancy', 'ttm_revpar_native',
       'ttm_reserved_days', 'ttm_blocked_days', 'ttm_available_days',
       'ttm_total_days'],
      dtype='object')

### Forming a merged data file

In [23]:
df_Bordeaux_Historical['City'] = 'Bordeaux'
df_Bordeaux_Listings['City'] = 'Bordeaux'

In [24]:
df_Antibes_Historical['City'] = 'Antibes'
df_Antibes_Listings['City'] = 'Antibes'
df_Marseille_Historical['City'] = 'Marseille'
df_Marseille_Listings['City'] = 'Marseille'
df_Cannes_Historical['City'] = 'Cannes'
df_Cannes_Listings['City'] = 'Cannes'
df_Nice_Historical['City'] = 'Nice'
df_Nice_Listings['City'] = 'Nice'
df_Lyon_Historical['City'] = 'Lyon'
df_Lyon_Listings['City'] = 'Lyon'
df_Paris_Hisorical['City'] = 'Paris'
df_Paris_Listings['City'] = 'Paris'

In [25]:
df_France_Listings = pd.concat([df_Paris_Listings, df_Lyon_Listings, df_Nice_Listings, df_Bordeaux_Listings, df_Cannes_Listings, df_Antibes_Listings, df_Marseille_Listings], ignore_index=True)

In [26]:
df_France_Historical = pd.concat([df_Paris_Hisorical, df_Lyon_Historical, df_Nice_Historical, df_Bordeaux_Historical,
                                  df_Cannes_Historical, df_Antibes_Historical, df_Marseille_Historical], ignore_index=True)

In [27]:
df_France_Historical.City

0            Paris
1            Paris
2            Paris
3            Paris
4            Paris
           ...
24728    Marseille
24729    Marseille
24730    Marseille
24731    Marseille
24732    Marseille
Name: City, Length: 24733, dtype: object

In [28]:
df_France_Listings.head()

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,ttm_revenue_native,ttm_avg_rate_native,ttm_occupancy,ttm_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days,City,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,3109,zen and calm,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,7,3631,Anne,NaN,NaN,False,48.8319,2.3187,2.0,1.0,1.0,1.0,False,"Washer,Children’s books and toys,Smoke alarm,W...",False,NaN,2.0,Flexible,EUR,68.0,0.0,7,5.00,1789.0,115.6,0.041,4.9,15.0,0.0,350.0,365,Paris,NaN,NaN,NaN
1,5396,Your perfect Paris studio on Île Saint-Louis,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/52413/f9bf...,15,7903,Borzou,2130918.0,Guillaume,False,48.8524,2.3569,2.0,NaN,1.0,1.0,False,"TV,Cable TV,Wifi,Kitchen,Hot water kettle,Book...",False,NaN,2.0,Strict,EUR,47.0,17.0,460,4.62,26294.0,125.0,0.600,72.0,219.0,51.0,146.0,365,Paris,NaN,NaN,NaN
2,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/67928287/3...,29,2626,Franck,NaN,NaN,True,48.8591,2.3532,4.0,2.0,1.0,1.0,True,"Hair dryer,Shampoo,Hot water,Washer,Dryer,Esse...",NaN,False,10.0,Moderate,EUR,58.0,0.0,388,4.73,33616.0,154.0,0.611,92.1,223.0,5.0,142.0,365,Paris,NaN,NaN,NaN
3,9952,Paris small cozy area,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/ae822d16-7...,15,33534,Elisabeth,NaN,NaN,False,48.8637,2.3709,2.0,1.0,1.0,1.0,True,"TV,Wifi,Kitchen,Room-darkening shades,Paid par...",NaN,NaN,4.0,Firm,EUR,44.0,0.0,52,4.92,12155.0,130.9,0.233,33.3,85.0,267.0,280.0,365,Paris,NaN,NaN,NaN
4,11265,Elegant appartment in Montmartre,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,22,41718,Sylvie,NaN,NaN,True,48.8849,2.3400,2.0,1.0,1.0,1.0,True,"Hair dryer,Hot water,Washer,Dryer,Essentials,H...",NaN,False,7.0,Firm,EUR,93.0,0.0,43,4.91,20463.0,149.6,0.381,56.1,139.0,168.0,226.0,365,Paris,NaN,NaN,NaN

In [29]:
df_France_Listings.drop(columns = ['Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64'], inplace=True)

In [30]:
df_France_Listings

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,ttm_revenue_native,ttm_avg_rate_native,ttm_occupancy,ttm_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days,City
0,3109,zen and calm,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,7,3631,Anne,NaN,NaN,False,48.8319,2.3187,2.0,1.0,1.0,1.0,False,"Washer,Children’s books and toys,Smoke alarm,W...",False,NaN,2.0,Flexible,EUR,68.0,0.0,7,5.00,1789.0,115.6,0.041,4.9,15.0,0.0,350.0,365,Paris
1,5396,Your perfect Paris studio on Île Saint-Louis,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/52413/f9bf...,15,7903,Borzou,2130918.0,Guillaume,False,48.8524,2.3569,2.0,NaN,1.0,1.0,False,"TV,Cable TV,Wifi,Kitchen,Hot water kettle,Book...",False,NaN,2.0,Strict,EUR,47.0,17.0,460,4.62,26294.0,125.0,0.600,72.0,219.0,51.0,146.0,365,Paris
2,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/67928287/3...,29,2626,Franck,NaN,NaN,True,48.8591,2.3532,4.0,2.0,1.0,1.0,True,"Hair dryer,Shampoo,Hot water,Washer,Dryer,Esse...",NaN,False,10.0,Moderate,EUR,58.0,0.0,388,4.73,33616.0,154.0,0.611,92.1,223.0,5.0,142.0,365,Paris
3,9952,Paris small cozy area,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/ae822d16-7...,15,33534,Elisabeth,NaN,NaN,False,48.8637,2.3709,2.0,1.0,1.0,1.0,True,"TV,Wifi,Kitchen,Room-darkening shades,Paid par...",NaN,NaN,4.0,Firm,EUR,44.0,0.0,52,4.92,12155.0,130.9,0.233,33.3,85.0,267.0,280.0,365,Paris
4,11265,Elegant appartment in Montmartre,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,22,41718,Sylvie,NaN,NaN,True,48.8849,2.3400,2.0,1.0,1.0,1.0,True,"Hair dryer,Hot water,Washer,Dryer,Essentials,H...",NaN,False,7.0,Firm,EUR,93.0,0.0,43,4.91,20463.0,149.6,0.381,56.1,139.0,168.0,226.0,365,Paris
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,6047661,Air-conditioned 3-rooms apartment,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/31827a83-6...,24,31385285,Christel,NaN,NaN,FALSE,43.2802,5.3922,6,3.0,4.0,2.5,TRUE,"TV,Wifi,Air conditioning,Kitchen,Hot water ket...",TRUE,False,5,Moderate,EUR,65.0,0,55,4.56,11286.0,88.6,0.337,30.9,123.0,85.0,242.0,365,Marseille
2096,6058981,Spacious apartment in the city center,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/75827239/5...,6,31324986,Pierre-Marie,NaN,NaN,FALSE,43.2947,5.3859,4,3.0,3.0,1.0,TRUE,"Bathtub,Hair dryer,Cleaning products,Hot water...",NaN,False,4,Flexible,EUR,0.0,0,49,4.76,20030.0,108.4,0.510,54.9,186.0,9.0,179.0,365,Marseille
2097,6074385,Contemporary loft with terrace,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/99389753-9...,19,2601712,Nicolas,21641551,Marielle,FALSE,43.2896,5.3910,6,3.0,3.0,1.0,FALSE,"TV,Cable TV,Wifi,Air conditioning,Kitchen,Hot ...",FALSE,NaN,2,Strict,EUR,109.0,0,208,4.44,2367.0,128.1,0.052,6.5,19.0,78.0,346.0,365,Marseille
2098,6097024,Apartment with 40 m2 terrace,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,16,11488932,François,8491943,Maya,FALSE,43.2918,5.3773,4,2.0,2.0,1.0,TRUE,"TV,Washer,BBQ grill,Shower gel,Wifi,Air condit...",FALSE,False,2,Moderate,EUR,52.0,0,12,4.83,3848.0,102.6,0.104,10.5,38.0,28.0,327.0,365,Marseille
2099,6159050,Au Vallon – Terrace on the Vallon des Auffes,Entire home,entire_home,https://a0.muscache.com/im/pictures/f4c584df-f...,13,1626576,Agence Cocoonr Marseille,693846745,Agence Cocoonr,FALSE,43.2863,5.3520,2,1.0,1.0,1.0,TRUE,"Air conditioning,Kitchen,Room-darkening shades...",TRUE,False,1,Moderate,EUR,69.0,0,97,4.77,19770.0,174.8,0.301,54.2,110.0,25.0,255.0,365,Marseille

In [31]:
df_France_Historical

,listing_id,date,vacant_days,reserved_days,occupancy,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue,City
0,534266,2024-12-01,4,27,0.871,36.0,5.0,3.0,233.0,233.0,6290.0,Paris
1,534266,2025-01-01,18,13,0.419,8.0,3.0,4.0,247.0,243.0,3211.0,Paris
2,534266,2025-02-01,16,12,0.429,7.0,6.0,5.0,208.0,214.0,2497.0,Paris
3,534266,2025-03-01,31,0,0.000,NaN,NaN,5.0,NaN,214.0,0.0,Paris
4,534266,2025-04-01,30,0,0.000,NaN,NaN,5.0,NaN,210.0,0.0,Paris
...,...,...,...,...,...,...,...,...,...,...,...,...
24728,360516,2025-07-01,31,0,0.000,NaN,NaN,1.0,NaN,241.0,0.0,Marseille
24729,360516,2025-08-01,31,0,0.000,NaN,NaN,1.0,NaN,243.0,0.0,Marseille
24730,360516,2025-09-01,30,0,0.000,NaN,NaN,1.0,NaN,200.0,0.0,Marseille
24731,360516,2025-10-01,31,0,0.000,NaN,NaN,1.0,NaN,179.0,0.0,Marseille
24732,360516,2025-11-01,22,8,0.267,96.0,3.0,1.0,131.0,142.0,1050.0,Marseille

In [32]:
df_France_Historical['date'] = pd.to_datetime(df_France_Historical['date'])

df_France_Historical['date'] = df_France_Historical['date'].dt.strftime('%B - %Y')

In [33]:
df_France_Historical.head()

,listing_id,date,vacant_days,reserved_days,occupancy,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue,City
0,534266,December - 2024,4,27,0.871,36.0,5.0,3.0,233.0,233.0,6290.0,Paris
1,534266,January - 2025,18,13,0.419,8.0,3.0,4.0,247.0,243.0,3211.0,Paris
2,534266,February - 2025,16,12,0.429,7.0,6.0,5.0,208.0,214.0,2497.0,Paris
3,534266,March - 2025,31,0,0.000,NaN,NaN,5.0,NaN,214.0,0.0,Paris
4,534266,April - 2025,30,0,0.000,NaN,NaN,5.0,NaN,210.0,0.0,Paris

In [34]:
df_France_Listings.head()

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,ttm_revenue_native,ttm_avg_rate_native,ttm_occupancy,ttm_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days,City
0,3109,zen and calm,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,7,3631,Anne,NaN,NaN,False,48.8319,2.3187,2.0,1.0,1.0,1.0,False,"Washer,Children’s books and toys,Smoke alarm,W...",False,NaN,2.0,Flexible,EUR,68.0,0.0,7,5.00,1789.0,115.6,0.041,4.9,15.0,0.0,350.0,365,Paris
1,5396,Your perfect Paris studio on Île Saint-Louis,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/52413/f9bf...,15,7903,Borzou,2130918.0,Guillaume,False,48.8524,2.3569,2.0,NaN,1.0,1.0,False,"TV,Cable TV,Wifi,Kitchen,Hot water kettle,Book...",False,NaN,2.0,Strict,EUR,47.0,17.0,460,4.62,26294.0,125.0,0.600,72.0,219.0,51.0,146.0,365,Paris
2,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/67928287/3...,29,2626,Franck,NaN,NaN,True,48.8591,2.3532,4.0,2.0,1.0,1.0,True,"Hair dryer,Shampoo,Hot water,Washer,Dryer,Esse...",NaN,False,10.0,Moderate,EUR,58.0,0.0,388,4.73,33616.0,154.0,0.611,92.1,223.0,5.0,142.0,365,Paris
3,9952,Paris small cozy area,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/ae822d16-7...,15,33534,Elisabeth,NaN,NaN,False,48.8637,2.3709,2.0,1.0,1.0,1.0,True,"TV,Wifi,Kitchen,Room-darkening shades,Paid par...",NaN,NaN,4.0,Firm,EUR,44.0,0.0,52,4.92,12155.0,130.9,0.233,33.3,85.0,267.0,280.0,365,Paris
4,11265,Elegant appartment in Montmartre,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,22,41718,Sylvie,NaN,NaN,True,48.8849,2.3400,2.0,1.0,1.0,1.0,True,"Hair dryer,Hot water,Washer,Dryer,Essentials,H...",NaN,False,7.0,Firm,EUR,93.0,0.0,43,4.91,20463.0,149.6,0.381,56.1,139.0,168.0,226.0,365,Paris

In [35]:
df_France_Listings['professional_management'].value_counts()

professional_management
False    1555
True       40
Name: count, dtype: int64

### Drawing some basic insights

In [36]:
# Most of the listings are entire homes/apartments, followed by private rooms, then hotel rooms, and finally shared rooms.

df_France_Listings.groupby('room_type')['City'].value_counts().sort_values()

room_type           City
 \"Panier\"         Marseille      1
Entire villa        Antibes        1
shared_room         Paris          1
Entire rental unit  Antibes        1
private_room        Antibes       13
                    Cannes        14
                    Nice          25
                    Paris         34
                    Marseille     53
                    Lyon          57
                    Bordeaux      58
entire_home         Bordeaux     242
                    Lyon         243
                    Marseille    246
                    Paris        265
                    Nice         275
                    Antibes      285
                    Cannes       286
Name: count, dtype: int64

In [37]:
amenity_series = df_France_Listings['amenities'].dropna()

# Split on comma, strip spaces, explode into rows
amenity_series = (
    amenity_series
      .str.split(',')
      .explode()
      .str.strip()
)

# Get counts per amenity
amenity_counts = amenity_series.value_counts()

# show top 50 amenities
print(amenity_counts.head(50))

amenities
Wifi                          2126
Heating                       2067
Kitchen                       1985
Hot water                     1962
Essentials                    1900
Dishes and silverware         1888
Hangers                       1885
Hair dryer                    1875
Refrigerator                  1842
Iron                          1803
Coffee maker                  1799
TV                            1780
Cooking basics                1777
Smoke alarm                   1734
Washer                        1728
Bed linens                    1592
Microwave                     1568
Oven                          1333
Stove                         1257
Shampoo                       1176
Hot water kettle              1101
Dishwasher                    1091
Air conditioning              1077
Clothing storage              1064
Extra pillows and blankets    1046
Wine glasses                  1030
Cleaning products             1005
Long term stays allowed        996
Dining table                   981
Toaster                        974
Dedicated workspace            964
Paid parking off premises      951
Drying rack for clothing       942
Patio or balcony               917
Freezer                        877
Baking sheet                   858
Shower gel                     810
Elevator                       792
Carbon monoxide alarm          774
Luggage dropoff allowed        771
Room-darkening shades          736
Body soap                      726
Cable TV                       668
Coffee                         635
Pack ’n play/Travel crib       624
Books and reading material     621
Portable fans                  609
Dryer                          597
Outdoor furniture              593
Beach access                   591
Name: count, dtype: int64

In [38]:
# Top 100 highest revenue listings (adjust n as needed)
# support both possible column names to avoid KeyError
for candidate in ['ttm_revenue', 'ttm_revenue_native']:
    if candidate in df_France_Listings.columns:
        revenue_col = candidate
        break
else:
    raise KeyError(f"None of expected revenue columns found. Available columns: {df_France_Listings.columns.tolist()}")

top_revenue_listings = df_France_Listings.nlargest(100, revenue_col)

# Count amenities in top revenue group
top_amenity_counts = (
    top_revenue_listings['amenities']
    .dropna()
    .str.split(',')
    .explode()
    .str.strip()
    .value_counts()
)

print(top_amenity_counts.head(30))

amenities
Wifi                       110
Heating                     98
Hot water                   98
Kitchen                     98
Hair dryer                  97
Iron                        96
Hangers                     95
TV                          95
Washer                      95
Dishes and silverware       94
Refrigerator                93
Coffee maker                93
Cooking basics              91
Essentials                  91
Oven                        91
Dishwasher                  88
Smoke alarm                 88
Bed linens                  84
Microwave                   82
Wine glasses                79
Hot water kettle            78
Toaster                     76
Stove                       75
Freezer                     73
Dining table                72
Dryer                       67
Shampoo                     67
Cleaning products           66
Luggage dropoff allowed     66
Dedicated workspace         65
Name: count, dtype: int64

In [39]:
df_France_Listings['professional_management'].value_counts()

professional_management
False    1555
True       40
Name: count, dtype: int64

In [40]:

df_sorted = df_France_Listings.sort_values(
    by=['City', 'ttm_revenue_native'], 
    ascending=[True, False]
)


top_5_per_city = df_sorted.groupby('City').head(5)

result = top_5_per_city.groupby('City')['professional_management'].value_counts(dropna=False)

print(result)

City       professional_management
Antibes    False                      4
           True                       1
Bordeaux   False                      5
Cannes     False                      5
Lyon       False                      5
Marseille  False                      5
Nice       False                      5
Paris      False                      5
Name: count, dtype: int64

In [41]:
df_France_Listings.head()

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,ttm_revenue_native,ttm_avg_rate_native,ttm_occupancy,ttm_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days,City
0,3109,zen and calm,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,7,3631,Anne,NaN,NaN,False,48.8319,2.3187,2.0,1.0,1.0,1.0,False,"Washer,Children’s books and toys,Smoke alarm,W...",False,NaN,2.0,Flexible,EUR,68.0,0.0,7,5.00,1789.0,115.6,0.041,4.9,15.0,0.0,350.0,365,Paris
1,5396,Your perfect Paris studio on Île Saint-Louis,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/52413/f9bf...,15,7903,Borzou,2130918.0,Guillaume,False,48.8524,2.3569,2.0,NaN,1.0,1.0,False,"TV,Cable TV,Wifi,Kitchen,Hot water kettle,Book...",False,NaN,2.0,Strict,EUR,47.0,17.0,460,4.62,26294.0,125.0,0.600,72.0,219.0,51.0,146.0,365,Paris
2,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/67928287/3...,29,2626,Franck,NaN,NaN,True,48.8591,2.3532,4.0,2.0,1.0,1.0,True,"Hair dryer,Shampoo,Hot water,Washer,Dryer,Esse...",NaN,False,10.0,Moderate,EUR,58.0,0.0,388,4.73,33616.0,154.0,0.611,92.1,223.0,5.0,142.0,365,Paris
3,9952,Paris small cozy area,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/ae822d16-7...,15,33534,Elisabeth,NaN,NaN,False,48.8637,2.3709,2.0,1.0,1.0,1.0,True,"TV,Wifi,Kitchen,Room-darkening shades,Paid par...",NaN,NaN,4.0,Firm,EUR,44.0,0.0,52,4.92,12155.0,130.9,0.233,33.3,85.0,267.0,280.0,365,Paris
4,11265,Elegant appartment in Montmartre,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,22,41718,Sylvie,NaN,NaN,True,48.8849,2.3400,2.0,1.0,1.0,1.0,True,"Hair dryer,Hot water,Washer,Dryer,Essentials,H...",NaN,False,7.0,Firm,EUR,93.0,0.0,43,4.91,20463.0,149.6,0.381,56.1,139.0,168.0,226.0,365,Paris

In [42]:
df_France_Listings.pivot_table(index='City', values=['ttm_occupancy', 'ttm_revenue_native'], aggfunc='mean').sort_values(by='ttm_revenue_native', ascending=False)

           ttm_occupancy  ttm_revenue_native
City
Paris           0.369533        26358.306667
Antibes         8.044787        21001.583333
Nice            0.385057        19553.873333
Lyon            0.384517        18070.293333
Bordeaux        0.362010        17566.976667
Cannes          0.224280        16398.880000
Marseille      75.896510        14915.629333

In [43]:
# select the ttm_occupancy values for listings in Marseille
df_France_Listings = df_France_Listings[df_France_Listings['ttm_occupancy'] <= 1]

In [44]:
df_France_Listings.pivot_table(index='City', values=['ttm_occupancy', 'ttm_revenue_native'], aggfunc='mean').sort_values(by='ttm_revenue_native', ascending=False)

           ttm_occupancy  ttm_revenue_native
City
Paris           0.369533        26358.306667
Antibes         0.272940        19642.375839
Nice            0.385057        19553.873333
Lyon            0.384517        18070.293333
Bordeaux        0.362010        17566.976667
Cannes          0.224280        16398.880000
Marseille       0.351013        14965.498328

In [45]:
df_France_Listings.pivot_table(index='City', values='rating_overall', aggfunc='mean')

           rating_overall
City
Antibes          4.739552
Bordeaux         4.791791
Cannes           4.723003
Lyon             4.756208
Marseille        4.738691
Nice             4.700738
Paris            4.751980

In [46]:
df_France_Historical.head()

,listing_id,date,vacant_days,reserved_days,occupancy,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue,City
0,534266,December - 2024,4,27,0.871,36.0,5.0,3.0,233.0,233.0,6290.0,Paris
1,534266,January - 2025,18,13,0.419,8.0,3.0,4.0,247.0,243.0,3211.0,Paris
2,534266,February - 2025,16,12,0.429,7.0,6.0,5.0,208.0,214.0,2497.0,Paris
3,534266,March - 2025,31,0,0.000,NaN,NaN,5.0,NaN,214.0,0.0,Paris
4,534266,April - 2025,30,0,0.000,NaN,NaN,5.0,NaN,210.0,0.0,Paris

In [47]:
df_France_Listings = df_France_Listings[df_France_Listings['rating_overall'] <= 5]

In [48]:
df_France_Listings.pivot_table(index='City', values='rating_overall', aggfunc='mean')

           rating_overall
City
Antibes          4.739552
Bordeaux         4.791791
Cannes           4.723003
Lyon             4.756208
Marseille        4.738691
Nice             4.700738
Paris            4.751980

In [49]:
df_France_Historical.head()

,listing_id,date,vacant_days,reserved_days,occupancy,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue,City
0,534266,December - 2024,4,27,0.871,36.0,5.0,3.0,233.0,233.0,6290.0,Paris
1,534266,January - 2025,18,13,0.419,8.0,3.0,4.0,247.0,243.0,3211.0,Paris
2,534266,February - 2025,16,12,0.429,7.0,6.0,5.0,208.0,214.0,2497.0,Paris
3,534266,March - 2025,31,0,0.000,NaN,NaN,5.0,NaN,214.0,0.0,Paris
4,534266,April - 2025,30,0,0.000,NaN,NaN,5.0,NaN,210.0,0.0,Paris

In [50]:
df_France_Historical.pivot_table(index='date', columns='City', values='native_revenue', aggfunc='mean').sort_index()

City,Antibes,Bordeaux,Cannes,Lyon,Marseille,Nice,Paris
date,,,,,,,
April - 2025,1258.488215,1494.520270,906.976589,1506.216949,1338.320946,1550.872054,2604.260135
August - 2025,4101.191275,1881.529210,2644.836735,1342.786207,2305.185567,3045.210169,1920.678322
December - 2024,647.444444,1477.905405,648.913043,2215.413559,827.618243,721.703704,2275.597973
February - 2025,312.575758,889.729730,431.682274,1119.413559,518.871622,569.063973,1297.043919
January - 2025,513.101010,973.398649,353.454849,1669.118644,659.256757,577.420875,1896.560811
July - 2025,4476.844068,1916.156794,2453.344710,1525.098246,2054.494774,3184.301370,2883.226950
June - 2025,3312.356902,2049.277027,2493.923077,1830.518644,1912.047297,2887.538721,3366.172297
March - 2025,847.505051,1119.966216,1302.344482,1370.996610,964.222973,820.552189,2310.496622
May - 2025,2198.232323,1842.655405,2244.548495,1623.606780,1754.006757,2323.437710,2798.662162
November - 2025,372.036913,951.391753,374.884354,1129.610345,598.625430,575.325424,1302.311189
October - 2025,896.711409,1537.721649,955.666667,1580.579310,1000.618557,1372.688136,2054.094406
September - 2025,2119.157718,1820.429553,1781.329932,1600.482759,1399.931271,2207.376271,2384.923077

In [51]:

pivot_table = df_France_Historical.pivot_table(index='date', columns='City', values='native_revenue', aggfunc='mean')

max_revenue_months = pivot_table.idxmax()

print(max_revenue_months)

City
Antibes          July - 2025
Bordeaux         June - 2025
Cannes         August - 2025
Lyon         December - 2024
Marseille      August - 2025
Nice             July - 2025
Paris            June - 2025
dtype: object

In [52]:
# Fixed version with capital 'City'
df_France_Historical.groupby('City')['length_of_stay_avg'].mean()

City
Antibes      8.759112
Bordeaux     5.809327
Cannes       5.937870
Lyon         6.302268
Marseille    6.324844
Nice         7.361314
Paris        8.204945
Name: length_of_stay_avg, dtype: float64

In [53]:
df_France_Listings.head()

,listing_id,listing_name,listing_type,room_type,cover_photo_url,photos_count,host_id,host_name,cohost_ids,cohost_names,superhost,latitude,longitude,guests,bedrooms,beds,baths,registration,amenities,instant_book,professional_management,min_nights,cancellation_policy,currency,cleaning_fee,extra_guest_fee,num_reviews,rating_overall,ttm_revenue_native,ttm_avg_rate_native,ttm_occupancy,ttm_revpar_native,ttm_reserved_days,ttm_blocked_days,ttm_available_days,ttm_total_days,City
0,3109,zen and calm,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,7,3631,Anne,NaN,NaN,False,48.8319,2.3187,2.0,1.0,1.0,1.0,False,"Washer,Children’s books and toys,Smoke alarm,W...",False,NaN,2.0,Flexible,EUR,68.0,0.0,7,5.00,1789.0,115.6,0.041,4.9,15.0,0.0,350.0,365,Paris
1,5396,Your perfect Paris studio on Île Saint-Louis,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/52413/f9bf...,15,7903,Borzou,2130918.0,Guillaume,False,48.8524,2.3569,2.0,NaN,1.0,1.0,False,"TV,Cable TV,Wifi,Kitchen,Hot water kettle,Book...",False,NaN,2.0,Strict,EUR,47.0,17.0,460,4.62,26294.0,125.0,0.600,72.0,219.0,51.0,146.0,365,Paris
2,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/67928287/3...,29,2626,Franck,NaN,NaN,True,48.8591,2.3532,4.0,2.0,1.0,1.0,True,"Hair dryer,Shampoo,Hot water,Washer,Dryer,Esse...",NaN,False,10.0,Moderate,EUR,58.0,0.0,388,4.73,33616.0,154.0,0.611,92.1,223.0,5.0,142.0,365,Paris
3,9952,Paris small cozy area,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/ae822d16-7...,15,33534,Elisabeth,NaN,NaN,False,48.8637,2.3709,2.0,1.0,1.0,1.0,True,"TV,Wifi,Kitchen,Room-darkening shades,Paid par...",NaN,NaN,4.0,Firm,EUR,44.0,0.0,52,4.92,12155.0,130.9,0.233,33.3,85.0,267.0,280.0,365,Paris
4,11265,Elegant appartment in Montmartre,Entire rental unit,entire_home,https://a0.muscache.com/im/pictures/miso/Hosti...,22,41718,Sylvie,NaN,NaN,True,48.8849,2.3400,2.0,1.0,1.0,1.0,True,"Hair dryer,Hot water,Washer,Dryer,Essentials,H...",NaN,False,7.0,Firm,EUR,93.0,0.0,43,4.91,20463.0,149.6,0.381,56.1,139.0,168.0,226.0,365,Paris

In [54]:
df_France_Listings['cleaning_fee'] = df_France_Listings['cleaning_fee'].astype(float)

In [55]:
df_France_Listings.groupby('City')['cleaning_fee'].mean()

City
Antibes      90.269896
Bordeaux     47.193662
Cannes       95.037543
Lyon         43.527076
Marseille    39.948630
Nice         61.480427
Paris        59.806691
Name: cleaning_fee, dtype: float64

In [56]:
# Missing values
df_France_Listings.isna().mean().sort_values(ascending=False)

cohost_ids                 0.836311
cohost_names               0.836311
instant_book               0.293578
professional_management    0.233704
bedrooms                   0.229358
guests                     0.107195
extra_guest_fee            0.060840
cleaning_fee               0.041526
beds                       0.005794
min_nights                 0.005311
registration               0.002897
host_name                  0.002897
num_reviews                0.000000
rating_overall             0.000000
listing_id                 0.000000
ttm_revenue_native         0.000000
ttm_occupancy              0.000000
ttm_revpar_native          0.000000
ttm_reserved_days          0.000000
ttm_blocked_days           0.000000
ttm_available_days         0.000000
ttm_total_days             0.000000
ttm_avg_rate_native        0.000000
amenities                  0.000000
currency                   0.000000
cancellation_policy        0.000000
listing_name               0.000000
baths                      0.000000
longitude                  0.000000
latitude                   0.000000
superhost                  0.000000
host_id                    0.000000
photos_count               0.000000
cover_photo_url            0.000000
room_type                  0.000000
listing_type               0.000000
City                       0.000000
dtype: float64

In [57]:
df_France_Listings['currency'].value_counts()

currency
EUR    2071
Name: count, dtype: int64

In [58]:
df_France_Historical['date'] = pd.to_datetime(df_France_Historical['date'], dayfirst=True)

/var/folders/6n/6jm4tylj1cl2n4mjyhxgfpkr0000gn/T/ipykernel_22874/664149944.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_France_Historical['date'] = pd.to_datetime(df_France_Historical['date'], dayfirst=True)

In [59]:
df_France_Historical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24733 entries, 0 to 24732
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   listing_id              24733 non-null  int64
 1   date                    24733 non-null  datetime64[ns]
 2   vacant_days             24733 non-null  int64
 3   reserved_days           24733 non-null  int64
 4   occupancy               24733 non-null  float64
 5   booking_lead_time_avg   15165 non-null  float64
 6   length_of_stay_avg      15165 non-null  float64
 7   min_nights_avg          23343 non-null  float64
 8   native_booked_rate_avg  16217 non-null  float64
 9   native_rate_avg         24733 non-null  float64
 10  native_revenue          24733 non-null  float64
 11  City                    24733 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(3), object(1)
memory usage: 2.3+ MB

In [60]:
df_France_Historical.head()

,listing_id,date,vacant_days,reserved_days,occupancy,booking_lead_time_avg,length_of_stay_avg,min_nights_avg,native_booked_rate_avg,native_rate_avg,native_revenue,City
0,534266,2024-12-01,4,27,0.871,36.0,5.0,3.0,233.0,233.0,6290.0,Paris
1,534266,2025-01-01,18,13,0.419,8.0,3.0,4.0,247.0,243.0,3211.0,Paris
2,534266,2025-02-01,16,12,0.429,7.0,6.0,5.0,208.0,214.0,2497.0,Paris
3,534266,2025-03-01,31,0,0.000,NaN,NaN,5.0,NaN,214.0,0.0,Paris
4,534266,2025-04-01,30,0,0.000,NaN,NaN,5.0,NaN,210.0,0.0,Paris

In [61]:
# 1. Sort the entire dataframe by City and Revenue (Highest first)
df_sorted = df_France_Listings.sort_values(['City', 'ttm_revenue_native'], ascending=[True, False])

# 2. Take the top 5 rows for each City
df_top5 = df_sorted.groupby('City').head(5)

# 3. Calculate the average blocked days for those top 5
result = df_top5.groupby('City')['ttm_blocked_days'].mean()

print(result)

City
Antibes      59.8
Bordeaux     23.6
Cannes       44.2
Lyon         37.0
Marseille    50.2
Nice         44.6
Paris        23.4
Name: ttm_blocked_days, dtype: float64

### Transfering the data in SQL

In [62]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Abeer%404141@localhost:3306/Airbnb")

df_France_Listings.to_sql("Listings", con = engine, index= False , if_exists = 'replace')

df_France_Historical.to_sql("Historical", con=engine, index=False, if_exists='replace')

24733

In [63]:
# 1. Save the full listings to CSV
df_France_Listings.to_csv('df_France_Listings.csv', index=False)

# 2. Save the full historical data to CSV (instead of Antibes)
df_France_Historical.to_csv('df_France_Historical.csv', index=False)

In [1]:
import os
print(os.getcwd())

/Users/abeer/Desktop/Airbnb